<mat-nav-list>
  <a *ngIf="!authStatus" mat-list-item routerLink="/signup" (click)="sidenavOnClose()">
    <mat-icon>face</mat-icon>
    <span class="caption-nav">signup</span>
  </a>
  <a  *ngIf="!authStatus"  mat-list-item  routerLink="/login" (click)="sidenavOnClose()">
    <mat-icon>input</mat-icon>
    <span class="caption-nav">login</span>
  </a>
  <a *ngIf="authStatus"  mat-list-item routerLink="/training" (click)="sidenavOnClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="caption-nav">training</span>
  </a>
  <mat-list-item  *ngIf="authStatus" (click)="onLogout()" >
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="caption-nav">logout</span>
    </button>
  </mat-list-item>
 </mat-nav-list>
